##### system clock 100MHz #####
NET clk LOC = D11; 

##### buttons #####
NET rst LOC = E6; 
NET pause LOC = D5; 
NET conti LOC = A3;

###### switch #####
NET start LOC = V5; # sw0

##### 7-seg anode #####
NET scan_sel(1) LOC = P16; # 7-seg scan_sel0
NET scan_sel(0) LOC = M17; # 7-seg scan_sel1
NET scan_sel(3) LOC = N16; # 7-seg scan_sel2
NET scan_sel(2) LOC = P19; # 7-seg scan_sel3
NET scan_sel(5) LOC = AA20; # 7-seg scan_sel4
NET scan_sel(4) LOC = AB21; # 7-seg scan_sel5

##### 7-seg display #####
NET seg(7) LOC=AA21; # 7-seg CA
NET seg(6) LOC=AA22; # 7-seg CB
NET seg(5) LOC=Y22; # 7-seg CC
NET seg(4) LOC=N15; # 7-seg CD
NET seg(3) LOC=AB19; # 7-seg CE
NET seg(2) LOC=P20; # 7-seg CF
NET seg(1) LOC=Y21; # 7-seg CG
NET seg(0) LOC=P15; # 7-seg DP

					